
.burger-menu {
	font-family: 'Inter', 'Roboto', sans-serif;
	font-style: normal;
	font-size: 1.6rem;
	line-height: 24px;
	color: var(--black);
}
.burger-menu__button {
	background: none;
	border: none;
/*	margin-top: 16px;
	margin-left: 12px;*/
	padding: 0;
	width: 32px;
	height: 32px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 26px;
    /*transform: translate(0, -50%);*/
    cursor: pointer;
}
.burger-menu__button_close {
	border: 1px solid var(--grey-2);
	border-radius: 50%;
	background: var(--grey-2);
	margin-left: 0;
	color: var(--grey-4);
}
.burger-menu__header {
	margin: auto;
}
.burger-menu__icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	color: var(--grey-4);
}
.burger-menu__page {
	position: fixed;
	z-index: 4;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
}
.burger-menu__page[data-open] {
	transform: translateX(0);
	display: block;
	position: fixed;
	background-color: var(--grey-8);
	width: 100vw;
	height: 100vh;
	/*display: none;*/
	top: 0;
	left: 0;
}
.burger-menu__window {
	height: 100%;
	max-width: 428px;
	width: 100%;
	z-index: 3;
	background: var(--grey-9);
	border-radius: 0 8px 8px 0;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 12px;
	padding-right: 16px;
	padding-top: 26px;
	box-sizing: border-box;
}
.burger-menu__line {
	margin-top: 16px;
	margin-bottom: 0;
	color: var(--grey-2);
	background-color: var(--grey-2); 
	border: none;
	height: 1px;
}
.burger-menu__toogler {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-left: 0;
}
.burger-menu__toogler-text {
	display: inline-block;
	color: var(--grey-4);
}
.burger-menu__list {
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
	width: 100%;
}
.burger-menu__main {
	padding-left: 4px;
	padding-top: 9px
}
/* Убираем стандартный маркер Firefox */
.burger-menu__list > .burger-menu__list-el {
    list-style: none;
}
/* Убираем стандартный маркер Google, Safari */
.burger-menu__list .burger-menu__list-el::-webkit-details-marker {
    display: none
}
/* Убираем стандартный маркер */
.burger-menu__list .burger-menu__list-el {
	outline-style: none;
    border-bottom: none;
}
.burger-menu__list-el {
	margin-bottom: 10px;
}
.burger-menu__list-el-href {
	text-decoration: none;
	color: var(--font-color);
	display: block;
}
.burger-menu__list-el-href:hover {
	color: var(--grey-4);
}
.burger-menu__list-el:last-child {
	margin-bottom: 0;
}
.burger-menu__list-el:first-child {
	font-size: 2rem;
	color: var(--grey-3);
	line-height: 26px;
}
.burger-menu__list-el_red {
	color: var(--red);
}
@media screen and (min-width: 768px) {
	.burger-menu {display: none;}
}