/* Стилизация аккордеона */

.accordion {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
}

/* Убираем стандартный маркер Google, Safari */
.accordion__summary::-webkit-details-marker {
    display: none
}
.accordion__item {
    background-color: var(--white-bg);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 0;
    margin-bottom: 5px;
    height: 72px;
    overflow: hidden;
    transition: height 0.2s ease-out;
}
.accordion__item:last-child {
    margin-bottom: 0;
}
.accordion__summary {
    list-style: none;
    outline-style: none;
    border-bottom: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 24px 32px;
    cursor: pointer;
    color: var(--text-primary);
}
.accordion__icon {
    width: 18px;
    height: 10px;
    color: var(--white-bg);
    margin-top: 5px;
    transition: transform 0.2s ease-out;
    /*position: absolute;*/
    /*top:  50%; right: 12px; transform: translateY(-50%);*/
}
/*.accordion__icon_up {*/
/*    display: none;*/
/*}*/
.accordion__open-text {
    padding: 0 32px 24px 32px;
    margin: 0;
    color: var(--input-text-color);
}
.accordion__item[open] {
    color: var(--alternate-text);
    height: 128px;
}
.accordion__item[open] .accordion__summary  {
    padding: 24px 32px 12px;
}
.accordion__item[open] .accordion__summary .accordion__icon_down {
    /*display: none;*/
    transform: rotate(-180deg);
}
/*.accordion__item[open] .accordion__summary .accordion__icon_up {*/
/*    display: block;*/
/*}*/
@media screen and (max-width: 750px) {
    .accordion__item[open] {
        height: 138px;
    }
}
@media screen and (max-width: 530px) {
    .accordion__item[open] {
        height: 178px;
    }
}
@media screen and (max-width: 420px) {
    .accordion__item[open] {
        height: 210px;
    }
}
@media screen and (max-width: 370px) {
    .accordion__item[open] {
        height: 240px;
    }
}