.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
body {
    /*position: absolute;
    left: 20%;*/
    /*padding-left: 100px;*/
}
.toggler {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    display: inline-block;
    /*position: relative;*/
}
.toggler__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--grey-3);
    /*margin-bottom: 13px;*/
}
.toggler__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    outline: none;
}
.toggler__state {
    cursor: pointer;
    position: relative;
}
.toggler__text {
    /*margin-left: 12px;*/
    margin-left: 64px;
    color:var(--grey-4);
}
.toggler_active .toggler__input:focus~.toggler__state .toggler__text {
    text-decoration: underline;
}
.toggler_disabled .toggler__state-disabled {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: not-allowed;
}
.toggler_disabled .toggler__control-disabled {
    width: 52px;
    height: 28px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background: var(--grey-2);
    border: 1px solid var(--grey-2);
    align-items: flex-start;
    padding-left: 2px;
}
.toggler_disabled .toggler__icon-disabled {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--grey-3);
}
.toggler_disabled .toggler__text-disabled {
    margin-left: 12px;
    color:var(--grey-2);
}
.toggler__state .toggler__control::before {
    content: '';
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    position: absolute;
    width: 52px;
    height: 28px;
    border-radius: 16px;
    transition: all .5s ease;
}
.toggler__state .toggler__control .toggler__icon::before, .toggler__state .toggler__control .toggler__icon::after {
    transition: left .5s ease;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--grey-2);
    border: 1px solid transparent;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: 0;
    /*transform: translateY(2px);*/
}
.toggler__input:checked~.toggler__state .toggler__control::before {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
.toggler__input:checked~.toggler__state .toggler__control .toggler__icon::after {
    background-color: var(--white);
    border: 1px solid transparent;
    left: 25px;
}
.toggler__input:checked~.toggler__state .toggler__control .toggler__icon::before {
    opacity: 0;
}
