

.tooltip {
	font-family: 'Inter', 'Roboto', sans-serif;
	font-weight: normal;
    font-size: 1.6rem;
	text-align: center;
	position: relative;
	display: inline-block;
}
.tooltip__icon {
	display: inline-block;
	cursor: pointer;
	color: var(--blue-1);
}
.tooltip__bubble {
	/*width: 130px;*/
	/*height: 45px;*/
	background-color: var(--blue-1);
	border: 1px solid var(--blue-1);
	border-radius: 10px;
	color: var(--white);
	padding: 10px;
	position: absolute;
	white-space: nowrap;
	bottom: 100%;
	transform: translate(-50%, -7px);
	left: 50%;
	opacity: 0;
	transition: opacity 0.2s linear, transform 0.1s linear;
	pointer-events: none;
	/*display: none;*/
}
.tooltip__bubble:after {
	content: "";
	border: 7px solid transparent;
	border-top: 7px solid var(--blue-1);
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 100%);
} 
.tooltip__icon:hover ~ .tooltip__bubble {
	opacity: 1;
	/*display: block;*/
	pointer-events: all;
}
.tooltip__icon:hover ~ .tooltip__bubble .tooltip__text {
	opacity: 1;
	pointer-events: all;
}
.tooltip__text {
	margin: auto;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
   	transition: opacity 0.2s linear, transform 0.1s linear;
}
