
.main {
	font-family: 'Inter', 'Roboto', sans-serif;
	background-color: var(--grey-bg);
	font-size: 16px;
	color: var(--font-color);
}
.main__wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
.main__title {
	line-height: 64px;
	font-weight: 500;
    font-size: 50px;
	color: var(--font-color);
	max-width: 1140px;
	margin: 0 auto;
	padding: 16px 15px 32px;
	box-sizing: border-box;
}
.main__card-list {
	display: flex;
 	flex-flow: row wrap;
 	justify-content: space-evenly;
 	align-items: center;
 	margin: 0 -15px;
	padding-top: 72px;
}
.main__component {
	width: 350px;
	height: 367px;
	background: var(--card-bg);
	box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 12px;
	margin: 0 15px 30px;
}
.main__component-text {
	margin-left: auto;
	margin-right: auto;
	font-size: 21px;
	color: var(--font-color);
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.main__href {
	width: 100%;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	text-decoration: none;
}
.main__component_nocard {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
}
.main__component-text_nocard {
	text-transform: uppercase;
	box-sizing: border-box;
	color: var(--grey-10);
	display: block;
	font-size: 28px;
	font-weight: 400;
	margin: 66px 0 32px;
}
.main__skeleton {
    max-width: 555px;
    width: auto;
    background-color: var(--input-color);
}
.main__input {
	display: flex;
    flex-flow: row wrap;
    margin-bottom: 70px;
}
.main__input-element {
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 16px;
	max-width: 306px;
	width: 100%;
	position: relative;
}
.main__modal-input {
	background: var(--white-bg);
}
.main__modal-window {
	border: none;
	width: 100%;
	max-width: 400px;
	height: auto;
	background: var(--white-bg);
	padding: 22px 30px;
	box-sizing: border-box;
}
.main__modal-button {
	width: 83px;
}
.main__component-button {
	width: 191px;
}
.main__divider {
	position: absolute;
	width: 100%;
	left: 0;
	/* max-width: calc(1140px - 229px); */
	height: 1px;
	background-color: var(--grey-2);
}
.main__component-button-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}
.main__button-group-component {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	width: 200px;
	height: 200px;
}
.main__button-group {
	width: 240px;
	height: 120px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px 0;
}
.main__button {
	padding: 14px 0 0;
	text-align: center;
	width: 100%;
}
.main__button_disabled {
	opacity: 0.5;
    padding-bottom: 14px;
	text-align: center;
	width: 100%;
}
.main__accordion {
	margin-bottom: 70px;
}
.main__footer {
	padding: 80px 15px 80px;
	max-width: 52%;
}
.main__radio-el-card {
	background-color: var(--card-bg);
}
.main__input-card {
	background-color: var(--card-bg);
}
.main__Checkbox-control-card {
	background-color: var(--card-bg);
}

@media screen and (max-width: 768px) {
	.main__footer {max-width: 100%;}
	.main__title {font-size: 28px;}
}