<!DOCTYPE html>
<!-- Страница с календарем -->
<html lang="ru">
  <head>
    <title>Calendar</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="./calendar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <style type="text/css">
      .main__calendar {
        margin: 100px auto;
      }
    </style>
  </head>
  <body>
    <div class="calendar main__calendar">
      <div class="calendar__title">October 2021</div>
      <div class="calendar__wrapper">
        <div class="calendar__inner">
          <span class="calendar__item calendar__item_day">Mo</span>
          <span class="calendar__item calendar__item_day">Tue</span>
          <span class="calendar__item calendar__item_day">Wed</span>
          <span class="calendar__item calendar__item_day">Thu</span>
          <span class="calendar__item calendar__item_day">Fri</span>
          <span class="calendar__item calendar__item_day">Sat</span>
          <span class="calendar__item calendar__item_day">Sun</span>
          <!-- <span class="calendar__item">&nbsp;</span> -->
          <span class="calendar__item"></span>
          <span class="calendar__item"></span>
          <span class="calendar__item"></span>
          <span class="calendar__item"></span>
          <span class="calendar__item">1</span>
          <span class="calendar__item">2</span>
          <span class="calendar__item">3</span>
          <span class="calendar__item">4</span>
          <span class="calendar__item">5</span>
          <span class="calendar__item">6</span>
          <span class="calendar__item">7</span>
          <span class="calendar__item">8</span>
          <span class="calendar__item">9</span>
          <span class="calendar__item">10</span>
          <span class="calendar__item">11</span>
          <span class="calendar__item">12</span>
          <span class="calendar__item">13</span>
          <span class="calendar__item">14</span>
          <span class="calendar__item">15</span>
          <span class="calendar__item">16</span>
          <span class="calendar__item">17</span>
          <span class="calendar__item calendar__item_blue">18</span>
          <span class="calendar__item calendar__item_blue-3">19</span>
          <span class="calendar__item calendar__item_blue-3">20</span>
          <span class="calendar__item calendar__item_blue-3">21</span>
          <span class="calendar__item calendar__item_blue-3">22</span>
          <span class="calendar__item calendar__item_blue">23</span>
          <span class="calendar__item">24</span>
          <span class="calendar__item">25</span>
          <span class="calendar__item">26</span>
          <span class="calendar__item">27</span>
          <span class="calendar__item">28</span>
          <span class="calendar__item">29</span>
          <span class="calendar__item">30</span>
          <span class="calendar__item">31</span>
        </div>
      </div>
    </div>
  </body>
</html>
