
.sidebar-menu {
	font-family: 'Inter', 'Roboto', sans-serif;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 18px;
	color: var(--font-color);
	box-sizing: border-box;
}
.sidebar-menu__line {
	margin-top: 16px;
	margin-bottom: 0;
	color: var(--grey-2);
	background-color: var(--grey-2); 
	border: none;
	height: 1px;
}
.sidebar-menu__toogler {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-left: 0;
}
.sidebar-menu__toogler-text {
	display: inline-block;
	color: var(--grey-4);
}
.sidebar-menu__list {
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 16px;
	/* font-size: 1.4rem; */
}
.sidebar-menu__list:first-child {
	margin-top: 0;
}
.sidebar-menu__href {
	text-decoration: none;
	color: var(--font-color);
}
.sidebar-menu__href:hover {
	color: var(--href-change);
}
.sidebar-menu__main {
	padding-left: 4px;
}
/* Убираем стандартный маркер Firefox */
.sidebar-menu__list-el {
    list-style: none;
}
/* Убираем стандартный маркер Google, Safari */
.sidebar-menu__list-el::-webkit-details-marker {
    display: none
}
/* Убираем стандартный маркер */
.sidebar-menu__list-el {
	outline-style: none;
    border-bottom: none;
}
.sidebar-menu__list-el {
	margin-bottom: 4px;
	line-height: 22px;
}
.sidebar-menu__list-el:last-child {
	margin-bottom: 0;
}
.sidebar-menu__list-el:first-child {
	font-size: 2rem;
	margin-bottom: 16px;
}
.sidebar-menu__list-el_active {
	color: var(--red);
}
