
/* Стилизация кнопки */

.button {
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 200px;
    /*height: 34px;*/
    padding: 0.5em;
    font-size: 1.6rem;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button_primary {
    background: var(--blue-1);
    border: 1px solid var(--blue-1);
}
.button_primary:hover {
    background: var(--blue-2);
}
.button_primary:disabled, .button_secondary:disabled, .button_alternate:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.button_primary:active, .button_primary:focus {
    background:  var(--blue-2);
    box-shadow: 0 0 0 5px var(--blue-4);
}

.button_secondary {
    background: var(--purple);
    border: 1px solid var(--purple);
}
.button_secondary:hover {
    background: var(--purple-2);
}
.button_secondary:active, .button_secondary:focus {
    background: var(--purple-2);
    box-shadow: 0 0 0 5px var(--blue-4);
}
.button_alternate {
    border: 1px solid var(--grey-3);
    background: var(--grey-1);
    color: var(--alternate-text);
}
.button_alternate:hover {
    border-color: var(--alternate-border);
}
.button_alternate:active, .button_alternate:focus {
    /*background: var(--button__active);*/
    border-color: var(--alternate-border);
    /*color: var(--white);*/
    box-shadow: 0 0 0 5px var(--blue-4);
}
