.radio {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    display: inline-block;
}
.radio-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--grey-3);
    /*margin-bottom: 13px;*/
}
.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    outline: none;
}
.radio__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.radio__el {
    background: var(--white);
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color .2s linear;
}
.radio__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: var(--white);
    border-radius: 50%;
    transition: background-color .2s linear;

}
.radio__text {
    color:var(--grey-4);
    margin-left: 12px;
}
.radio__input:focus~.radio__state .radio__text {
    text-decoration: underline;
}
.radio__input:checked ~.radio__state .radio__el {
    /*background: var(--white);*/
    border: 2px solid var(--blue);
    /*transition: border-color .15s linear, background .15s linear;
*/}
.radio__input:checked ~.radio__state .radio__el .radio__icon {
    background-color: var(--blue);
    /*transition: border-color .15s linear, background .15s linear;*/
}

.radio__input:disabled~.radio__state {
    cursor: not-allowed;
}
.radio__input:disabled~.radio__state .radio__el {
    background: var(--grey-2);
}
.radio__input:disabled~.radio__state .radio__el .radio__icon {
    background: var(--grey-2);
}
.radio__input:disabled~.radio__state .radio__text {
    color:var(--grey-2);
}
