

.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 36px;
    width: 100%;
    max-width: 300px;
    font-style: normal;
    font-weight: normal;
}
.calendar__title {
    font-size: 2rem;
    line-height: 24px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Inter', 'Roboto', sans-serif;
    color: var(--grey-6);
}
/*For Mobile*/
@media screen and (max-width: 540px) {
    .calendar__title  {
        font-size: 1.7rem;
    }
}
.calendar__wrapper {
    position: relative;
    padding-bottom: 100%
}
.calendar__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /*border: 1px solid var(--grey-3);*/
}
.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2em;
    color: var(--grey-6);
    font-family: 'Source Sans Pro', sans-serif;
}
/*For Mobile*/
@media screen and (max-width: 540px) {
    .calendar__item {
        font-size: 1.3rem;
    }
}
.calendar__item_day {
    font-size: 1.4rem;
    line-height: 2em;
    color: var(--grey-5);
    font-family: 'Inter', 'Roboto', sans-serif;
}
/*For Mobile*/
@media screen and (max-width: 540px) {
    .calendar__item_day {
        font-size: 1.2rem;
    }
}
.calendar__item_blue {
    background-color: var(--blue-1);
    color: var(--white);
}
.calendar__item_blue-3 {
    background-color: var(--blue-3);
}
