
.skeleton {
    /*min-width: 579px;*/
    /*height: 192px;*/
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    /*background-color: yellow;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 40px auto;
    width: 100%;
}
.skeleton__header {
    display: flex;
    flex-flow: row wrap;
    /*height: 64px;  */
    justify-content: flex-start;
    margin: 20px 0 0 20px;
}
/*For Mobile*/
@media screen and (max-width: 540px) {
    .skeleton__header {
        margin-left: 10px;
    }
}
.skeleton__avatar-center {
    flex-basis: auto;
    order: 1;
    width: 15%;
}
.skeleton__avatar {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}

.line {
    height: 20px;
    background-color: var(--grey-2);
}

.skeleton__aside {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    order: 2;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 85%;
}

.aside__line-1 {
    /*width: 172px;*/
    width: 85%;
    margin-bottom: 10px;
}
/*For Mobile*/
@media screen and (max-width: 540px) {
    .skeleton__avatar-center {
        width: 20%;
    }
    .skeleton__aside {
        width: 80%;
    }
}
.aside__line-2 {
    /*width: 257px;*/
    /*width: calc((257/200)*100)%;*/
    width: 95%;
}

.skeleton__main {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /*height: 64px;*/
}
/*For Mobile*/
@media screen and (max-width: 540px) {
    .skeleton__main {
        margin-left: 10px;
    }
}
.main__line-1 {
    margin-bottom: 10px;
    /*width: 515px;*/
    width: 100%
}

.main__line-2 {
    /*width: 475px;*/
    width: 95%;
}

