
.skeleton {
    /*min-width: 579px;*/
    /*height: 192px;*/
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 20px;
}
.skeleton__header {
    display: flex;
    flex-flow: row wrap;
    /*height: 64px;  */
    /*justify-content: flex-start;*/
    /*margin: 20px 0 0 20px;*/
    margin-bottom: 20px;
    width: 100%;
}
.skeleton__avatar {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}
.line {
    height: 20px;
    background-color: var(--grey-2);
}
.skeleton__aside {
    /*  display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;*/
    /*order: 2;*/
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
    width: 60%;
}
@media screen and (max-width: 540px) {
    .skeleton__aside  {
        width: 50%;
    }
}
@media screen and (max-width: 200px) {
    .skeleton__aside  {
        width: 30%;
    }
}
.aside__line-1 {
    width: 85%;
    margin-bottom: 10px;
}
.aside__line-2 {
    width: 95%;
}
/*.skeleton__main {*/
/*     display: flex;*/
/*     flex-flow: column wrap;*/
/*     justify-content: flex-start;*/
/*     margin: 20px;*/
/*}*/
.main__line-1 {
    margin-bottom: 10px;
    width: 100%
}
.main__line-2 {
    width: 95%;
}

