:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --blue: #374fc7;
  --blue-1: #4263eb;
  --blue-2: #2342c0;
  --blue-3: rgba(160, 177, 245, 0.2);
  --blue-4: rgba(13, 110, 253, 0.25);
  --red: #f03d3e;
  --red-1: rgba(220, 53, 69, 0.25);
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #90a0b7;
  --grey-6: #334d6e;
  --grey-7: #c4c4c4;
  --grey-8: rgba(196, 196, 196, 0.5);
  --grey-9: #f9fafc;
  --grey-10: rgb(172, 181, 189);

  --error: var(--red);
  --success: var(--blue);
  --primary: var(--blue);
  --secondary: var(--purple);
  --alternate-text: #495057;
  --alternate-border: #212429;
  --button__active: green;

  --text-primary: var(--black);
  --text-secondary: var(--grey-3);
  --active-text-color: var(--text-primary);
  --main-bg: var(--light-bg);
  --grey-bg: var(--grey-1);
  --white-bg: var(--white);
  --light-bg: var(--white);
  --dark-bg: var(--black);
  --card-bg: var(--white);
  --font-color: var(--text-primary);
  --input-text-color: var(--grey-4);
  --input-color: var(--white);
  --page-color: var(--grey-9);
  --href-change: var(--grey-3);
  --calendar-day: var(--grey-5);
  --calendar-item: var(--grey-6);
  --calendar-item-active: var(--grey-6);
}
html {
  font-size: 10px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  min-width: 320px;
}
html[data-theme-dark] {
  --main-bg: var(--black);
  --font-color: #ffffff75;
  --dark-bg: var(--grey-1);
  --white-bg: var(--black);
  --light-bg: var(--grey-4);
  --grey-bg: var(--grey-4);
  --card-bg: var(--black);
  --text-primary: var(--white);
  --active-text-color: var(--grey-2);
  --input-text-color: var(--font-color);
  --blue-bg: var(--blue);
  --input-color: var(--grey-4);
  --page-color: var(--black);
  --href-change: var(--black);
  --calendar-day: var(--grey-2);
  --calendar-item: var(--grey-3);
  --calendar-item-active: var(--white);
}
html[data-theme-dark] img {
  filter: brightness(0.8) contrast(1.2);
}
.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
