@mixin text(
  $size: false,
  $color: false,
  $weight: false,
  $style: false,
  $lh: false
) {
  font-family: 'Inter', 'Roboto', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $style {
    font-style: $style;
  }
  @if $lh {
    line-height: $lh;
  }
}
.modal-new {
  //position: relative;
  @include text(1.6rem, var(--black), normal, normal, 24px);
  &__window {
    background: var(--white-bg);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    padding: 32px 40px;
    position: relative;
  }
  &__window-main {
    padding-bottom: 16px;
  }
  &__window-title {
    padding-bottom: 14px;
    display: inline-block;
    @include text(2rem, var(--dark-bg), 600, normal, 24px);
  }
  &__text {
    background: var(--white);
    border-radius: 8px;
    @include text(1.6rem, var(--alternate-text), normal, normal, false);
  }
  &__close {
    display: inline-block;
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    color: var(--input-text-color);
    cursor: pointer;
  }
  &__button {
    max-width: 182px;
    height: 48px;
    margin-top: 16px;
  }
  &__input {
    padding-bottom: 16px;
  }
}
