@mixin text(
  $size: false,
  $color: false,
  $weight: false,
  $style: false,
  $lh: false
) {
  font-family: 'Inter', 'Roboto', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $style {
    font-style: $style;
  }
  @if $lh {
    line-height: $lh;
  }
}
.main {
  background-color: var(--grey-bg);
  @include text(1.6rem, var(--font-color), normal, normal, 24px);
  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  &__title {
    max-width: 1140px;
    margin: 0 auto;
    padding: 16px 15px 32px;
    box-sizing: border-box;
    @include text(5rem, var(--font-color), 500, normal, 64px);
  }
  &__card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 -15px;
    padding-top: 72px;
  }
  &__component {
    width: 350px;
    height: 367px;
    background: var(--card-bg);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    margin: 0 15px 30px;
  }
  &__component-text {
    margin: 0 auto;
    @include text(2.1rem, var(--font-color), 500, normal, 28px);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 15px;
  }
  &__href {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-decoration: none;
  }
  &__component_nocard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
  }
  &__component-text_nocard {
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    margin: 66px 0 32px;
    @include text(2.8rem, var(--grey-10), 400, normal, false);
  }
  &__skeleton {
    max-width: 555px;
    width: auto;
    background-color: var(--input-color);
  }
  &__input {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 70px;
  }
  &__input-element {
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 16px;
    max-width: 306px;
    width: 100%;
    position: relative;
  }
  &__modal-input {
    background: var(--white-bg);
  }
  &__modal-window {
    border: none;
    width: 100%;
    max-width: 400px;
    height: auto;
    background: var(--white-bg);
    padding: 22px 30px;
    box-sizing: border-box;
  }
  &__modal-button {
    width: 83px;
  }
  &__component-button {
    display: inline-block;
  }
  &__divider {
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: var(--grey-2);
  }
  &__component-button-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
  }
  &__button-group-component {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 200px;
    height: 200px;
  }
  &__button-group {
    width: 240px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px 0;
  }
  &__button {
    padding: 14px 0 0;
    text-align: center;
    width: 100%;
  }
  &__button_disabled {
    opacity: 0.5;
    padding-bottom: 14px;
    text-align: center;
    width: 100%;
  }
  &__accordion {
    margin-bottom: 70px;
  }
  &__footer {
    padding: 80px 15px 80px;
    max-width: 52%;
  }
  &__radio-el-card {
    background-color: var(--card-bg);
  }
  &__input-card {
    background-color: var(--card-bg);
  }
  &__Checkbox-control-card {
    background-color: var(--card-bg);
  }
  &__tooltip {
    width: 130px;
    height: 45px;
  }
  &__tooltip-bubble,
  &__tooltip-text {
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    &__footer {
      max-width: 100%;
    }
    &__title {
      font-size: 28px;
    }
  }
}
