.Checkbox {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    display: inline-block;
}
.Checkbox__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--grey-3);
    margin-bottom: 13px;
}
.Checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    outline: none;
}
.Checkbox__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.Checkbox__control {
    background: var(--white);
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Checkbox__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: var(--white);
}
.Checkbox__text {
    margin-left: 12px;
    color:var(--grey-4);
}
.Checkbox__input:focus~.Checkbox__state .Checkbox__text {
    text-decoration: underline;
}
.Checkbox__input:checked~.Checkbox__state .Checkbox__control {
    background: var(--blue);
    border: 1px solid var(--blue);
}
.Checkbox__state_Disabled {
    cursor: not-allowed;
}
.Checkbox__control_Disabled {
    background: var(--grey-2);
}
.Checkbox__text_Disabled {
    color:var(--grey-2);
}