
.page {
	font-family: 'Inter', 'Roboto', sans-serif;
	font-style: normal;
	font-size: 1.6rem;
	line-height: 24px;
	height: 100vh;
	/*width: 100vw;*/
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(100px, auto) minmax(100px, 1110px);
	grid-template-areas: "header header"
	"nav main"
	"footer footer";
	grid-column-gap: 56px;
	grid-row-gap: 32px;
	box-sizing: border-box;
	padding: 0 15px;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.page__header {
	grid-area: header;
	background-color: var(--grey-bg);
	margin: 0;
	padding: 25px 0;
}
.page__footer {
	padding: 38px 0 33px 0;
	background-color: var(--grey-bg);
	grid-area: footer;
}
.page__sidebar-menu {
	display: inline-block;
	width: 229px;
	color: var(--font-color);
	grid-area: nav;
}
.page__main {
	/*height: 345px;*/
	background-color: var(--white-bg);
	box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 12px;
	width: 100%;
	max-width: calc(1140px - 229px);
	grid-area: main;
	position: relative;
}
.page__main-component {
	padding: 32px 48px 0;
}
.page__main-cod-left {
	margin: 0;
	color: var(--font-color);
}
.page__main-cod-html {
	box-sizing: border-box;
}
.page__footer-text {
	display: inline-block;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--grey-3);
	margin: 0 auto;
}
.page__main-divider {
	position: absolute;
	width: 100%;
	left: -2px;
	max-width: calc(1140px - 229px);
	height: 1px;
	background-color: var(--grey-2);
	z-index: 1;
}
.page__main-component-title {
	display: inline-block;
	font-size: 2.8rem;
	line-height: 38px;
	margin-bottom: 16px;
	color: var(--font-color);
}
.page__main-component-present {
	margin-bottom: 32px;
}
.page__button {
	width: 192px;
}
.page__modal-button {
	width: 83px;
}
.page__modal-input {
	padding-bottom: 16px;
}
.page__modal_window {
	max-width: 428px;
	width: 100%;
	background: var(--white-bg);
	border-radius: 8px;
	display: flex;
	flex-flow: column wrap;
	padding: 32px 40px;
	box-sizing: border-box;
}
.page__modal-new {
	padding: 0;
}
.page__modal-new-window {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 16px;
}
.page__modal-new-title {
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 24px;
	flex-grow: 1;
	flex-basis: 150px;
}
.page__modal-new-close {
	flex-grow: 0;
	cursor: pointer;
}
.page__tooltip {
	margin-top: 60px;
	margin-left: 40px;
}
.page__modal-new-input {
	border: 1px solid var(--grey-2);
	background-color: var(--white-bg);
	box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);

	color: var(--input-text-color);
	font-size: 20px;
}
.page__avatar {
	margin-top: 40px;
	width: 200px;
	height: 200px;
}
.page__calendar {
	margin: 20px 0;
}
.page__histogram {
	margin-top: 20px;
	max-width: 500px;
}
.page__selected {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	grid-auto-flow: column;
	grid-gap: 32px;
	margin-bottom: 30px;
}
.page__radio-el {
	background-color: var(--white-bg);
}
.page__Checkbox-control {
	background-color: var(--white-bg);
}
.page__toggler-control {
	background-color: var(--white-bg);
}
.page__input {
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 16px;
	max-width: 306px;
	width: 100%;
	position: relative;
}
.page__input-field {
	background-color: var(--white-bg);
}
.page__input-wrapper {
	display: flex;
	flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
	.page {grid-template-areas: "header header"
	"main main"
	"footer footer";
		grid-column-gap: 0;}
}
@media screen and (max-width: 768px) {
	.page__sidebar-menu {display: none;}
	.page__selected {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(6, auto);
		grid-auto-flow: column;
		grid-gap: 32px;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 350px) {
	.page__selected {
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(9, auto);
		grid-auto-flow: column;
		grid-gap: 32px;
		margin-bottom: 30px;
	}
}