<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Skeleton</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="./skeleton.css">
    <meta charset="utf-8">
</head>
<body>
<div class="skeleton">
    <div class="skeleton__header">
        <div class="skeleton__avatar"></div>
        <div class="skeleton__aside">
            <div class="line aside__line-1">
            </div>
            <div class="line aside__line-2">
            </div>
        </div>
    </div>
    <div class="skeleton__main">
        <div class="line main__line-1">
        </div>
        <div class="line main__line-2">
        </div>
    </div>
</div>
</body>
</html>