.input {
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    display: inline-block;
    width: 100%;
}
.input__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--grey-3);
}
.input__areas {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
    background-color: var(--white);
    display: block;
    box-sizing: border-box;
    padding-top: 17px;
    padding-left: 24px;
    padding-bottom: 13px;
    color: var(--grey-4);
}
.input_checked {
    display: block;
}
.input__areas {
    outline:none;
    color: var(--grey-4);
}
.input__areas_placeholder:focus {
    border:1px solid  var(--white);
    outline: 1px solid var(--blue);
}
.input__areas_invalid {
    border: 1px solid var(--red);

}
.input__areas_success {
    border: 1px solid var(--grey-2);
}
.input__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 100%;
    transform: translate(-40px, -40px);
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Inter', 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--grey-4);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Inter', 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--grey-4);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Inter', 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--grey-4);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Inter', 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--grey-4);
}
::-moz-placeholder { opacity: 1; }
::-webkit-input-placeholder { opacity: 1; }